@import url('https://fonts.googleapis.com/css2?family=Tinos:wght@700&family=Yantramanav:wght@300;400;500;900&display=swap');

* {
  margin:0;
  padding:0;
}

body {
  font-family: 'Yantramanav', sans-serif;
  background:#212121;
}

/* navBar oben */
#navBar {
  padding:3vh 2%;

}
.active {
  color:#BB7043;
}
#navBar ul{

  display:flex;
  justify-content: space-between;
  list-style-type: none;

}

#navBar a{
  text-decoration: none;
  color:white;
  font-size: 1.3rem;
}

#navBar a:hover {
  color:#BB7043;
}


/* Hero-Header auf HOME */

#hero {
  background-image: url(../src/img/hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 3rem;
  min-height: 80vh;
  color: white;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Tinos', serif;
  text-transform: uppercase;
}

#hero h1 {
  font-size: 6rem;
  letter-spacing: 1rem;
  text-shadow: 2px 2px #000000;
}

#hero h2{
  font-size: 4rem;
  letter-spacing: .8rem;
  text-shadow: 2px 2px #000000;
}

/* About & Food Menu */

.about {

  color:#fff;
  min-height: 100vh;
  background-image: url(../src/img/about.jpg);
  background-position: right;
  background-size: 55%;
  background-repeat: no-repeat;
}
.about p, #contact p {
  font-size: 1.3rem;
  margin-bottom:3vh;
  width:70%;
}

#menu {
  background-image: url(../src/img/drinks.jpg);
}

#contact {
  background-image: url(../src/img/contactBar.jpg);
  color:#fff;
  background-position: right;
  min-height: 90vh;
  background-size: 58%;
  background-repeat: no-repeat;

}

#contactPage {
  background:#BB7043; 

}

#text {
  width:35%;
  padding:25vh 0 15vh 14%;
}

.uppercase {
  text-transform: uppercase;
}

h2 {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 4rem;
  line-height: 3.5rem;
  margin: 5vh auto;
}

button{
  margin-top:1vh;
  border: none;
  background:#BB7043;
  color:#212121;
  padding:.5rem 1rem;
}

/* Jazz.js mit map und JSON Datei  */

#jazz {
  background:#BB7043;
  min-height: 90vh;
  color: #212121;
}

#jazz #covid {
  font-size: 1.3rem;
  text-transform: uppercase;
  padding: 8vh 9rem;
}

/* Card für Jazz.js */

#entertainment {
  width:30%;
  margin-bottom: 10vh;
}

#entertainment .date {
text-transform: uppercase;
color:#fff;
font-weight: 400;
margin-top:1vh;
}

#entertainment .time {
  text-transform: uppercase;
  color:#fff;
  font-weight: 400;
  margin-bottom:2vh;
  
  }

.image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 40vh;
  display:flex;
  justify-content: center;
  align-items: center;
  color:white;
  text-align: center;
}

.image h3 {
  font-size: 3rem;
  font-weight: 300;
  width:50%;
}

#cards {
  display:flex;
  justify-content: center;
}

/* Instagram Section und Instacard für Instagram Section */

#instacard {
  width:50%;
  text-align: center;
  border: 0.1px solid grey;
  color:white;
  padding-bottom: 5vh;
}


#instacard .comments{
font-size: 2rem;
margin: 4vh 5%;
}

#instagram {
  display:flex;
}

#instagram div {
  margin-top:3vh;
  display:flex;
  justify-content: flex-end;
  margin-right:3%;
}

#logo {
  width: 30px;
}

.author {
text-transform: uppercase;
font-weight: 300;
}


/* Footer und NavFooter  */

#footerNav {
  padding: 5vh 10%;
  display:grid;
  grid-template-columns: 3fr 1fr 2fr;
  text-transform: uppercase;
  color: white;
  background:#212121;
}

#footerNav h3 {
  color:#BB7043;
  margin-bottom:1vh;
  font-weight: 400;
}

.operationHours {
  display:grid;
  grid-template-columns: 1.5fr 1fr;
}

footer {
  display:flex;
  justify-content: flex-end;
  align-items: center;
  border: 0.1px solid grey;
  padding-top:5vh;
  background:#212121;
}


footer div img {
padding: 1rem;
}

#bathtub {
  margin-right:30%;
}

#map {
  background-image: url(../src/img/map.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 80vh;
  display:flex;
  align-items: center;
  justify-content: center;

}

#map div {
  background: #C4C4C4;
  font-size: 3rem;
  text-transform: uppercase;
  padding:3rem;
  font-weight: 500;
  text-align: center;
}

#address {
  font-size: 2rem;
  color:#fff;
  line-height: 1.9rem;
  margin-bottom:7vh;
}

#touch{
  display:flex;
  justify-content: space-around;
  padding: 15vh 0;
}

#touch form {
  display:flex;
  flex-direction: column;
  width:100%;
}

input {
  width:100%;
  margin-bottom: 2vh;
  padding:.5rem;
  font-family: 'Yantramanav', sans-serif;
}

input[type="submit"] {
  width:30%;
  margin-top:2vh;
  color:#fff;
  background:#212121;
  border:none;
}

textarea {
  padding:.5rem;
  font-family: 'Yantramanav', sans-serif;
  width:100%;
}

#operation div {
  color:#fff;
  
}

#touchForm {
  width:40%;
}

#touchContact{
  width:40%;
}

#heroSec {
  background-image: url(../src/img/openShop.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 90vh;
}

.comingSoon {
  background: #BB7043;
  min-height: 100vh;
  display:flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
}